
<div class="container">
    <div class="columnLeft">
        <h1>It's easy to get started on HomeAway</h1>
        
    </div>
    <div class="columnRight">
        
        <div class="row">
            <!-- content for row 1 -->
            <h2>1. Tell us about your place</h2>
        <div class="flex">
            <h3>  Share some basic info ,like where it is and how many guests can stay.</h3>
            <img src="https://a0.muscache.com/4ea/air/v2/pictures/da2e1a40-a92b-449e-8575-d8208cc5d409.jpg" aria-hidden="true">
        </div>
            
        </div>
        <hr>
        <div class="row">
            <!-- content for row 2 -->
            <h2>2. Make it stand out</h2>
            <div class="flex">
                <h3>  Add 5 or more photos plus a title and description we'll help you out.</h3>
                <img src="https://a0.muscache.com/4ea/air/v2/pictures/bfc0bc89-58cb-4525-a26e-7b23b750ee00.jpg" aria-hidden="true">
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- content for row 3 -->
            <h2>3. Finish up and publish </h2>
            <div class="flex">
                <h3>  Choose if you like to start with an experienced guest, set a starting price, and pubish your listing.</h3>
                <img src="https://a0.muscache.com/4ea/air/v2/pictures/c0634c73-9109-4710-8968-3e927df1191c.jpg" aria-hidden="true">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button class="btn" (click)="Start()">Get Started</button>
</div>

