.places-text {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .places-text small {
    font-family: Roboto;
    color: #ffc342;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .places-text h2 {
    font-family: Barlow Condensed;
    font-size: 55px;
    color: #191d34;
    letter-spacing: 1px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  
  .card {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 80%;
    height: auto;
  }
  
  .card img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .cards .text {
    padding: 20px;
    font-family: Barlow Condensed;
    line-height: 50px;
  }
  
  .cards .card-box {
    display: flex;
    flex-flow: row;
    background-color: #fde02f;
    font-size: 18px;
    font-family: Roboto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .cards .time {
    flex: 1;
  }
  
  .cards .location {
    flex: 2;
  }
  
  .cards .cost {
    color: #4cafad;
    font-size: 20px;
  }


  /* <----------------------------Filter Nav Bar------------------ */

  
  .nav{
    padding-top: 20px;
}

.filter-nav{
width: 100%;
height: 110px;
background: #F8F8F8;
display: flex;
justify-content: space-around;
align-items: center;
position: absolute;
top: 80px;
left: 0;
box-shadow: rgba(208, 208, 202, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
padding-top: 2px;

}

.Qform {
padding-left: 30px;
}

 .Qbutton{
 border-radius: 12px;
 background-color: #fde02f;
 color:  rgb(33, 137, 175);
 border: 0;
 height: 50px;
 width: 180px;
 font-size:25px;
 font-weight: lighter;
 }
.Qform p{
    flex: 1;
    font-size: 25px;
    padding-left: 25px;
    margin-left: 50px;
    /* font-family: Satisfy; */
    color: rgb(33, 137, 175);
    font-weight: lighter;
    margin:10px;
    padding-right: 20px;

}

.filter-img{
height: 45px;  
float: right;
}

.img-div{
    display: flex; 
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    padding-top: 10px;
}

.img-div button{
    border: 0px;
    background: none;
    cursor: pointer;
}

.img-div p{
    font-weight: bold;
    font-size: 15px ;
}

#dialog button{
 
    border-width: 1px;
    border-color: black;
    border-radius: 12px;
    font-size:25px;
    font-weight: lighter;
    font-size: 18px;
    width: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    background-color: #F8F8F8;
    
}

#dialog{
    align-content: left;
    align-self: center;
    justify-content:end;
    display: flex;
    border: 0ch;
}

#filterimg{
    height: 40px;
    padding: 5px;
}

#dialog p{
    padding-top: 10px;
}


header{
    width: 100%;
    height: 75px;
    background: #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.Logo{
    /* color: rgb(44, 44, 44);
    font-size: 1.5em; */
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left: 50px;
    font-family:Satisfy;
    color: rgb(33, 137, 175);

}
.logo {
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left: 50px;
    font-family: Satisfy;
    color: rgb(33, 137, 175);
  }

  .nav-bar {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 3px 3px 10px lightslategray;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  

  
  ul.menu {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
  }
  
  .menu li {
    flex: 1;
    list-style-type: none;
    font-size: 16px;
    font-family: "Barlow Condensed";
    text-align: center;
  }
  
  .menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
  }
  
  .menu li a:hover {
    color: midnightblue;
    text-decoration: underline;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 75px;
    background: #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Logo{
    /* color: rgb(44, 44, 44);
    font-size: 1.5em; */
    flex: 1;
    font-size: 40px;
    padding: 20px;
    margin-left: 50px;
    font-family:Satisfy;
    color: rgb(33, 137, 175);

}
.nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-left: 20px;
}
.nav ol{
    display: flex;
    list-style: none;
}
.nav ol li{
    margin: 1em;
    margin-top: 40px;
    font-size:17px ;
}
.nav ol li a{
    text-decoration: none;
    padding: 0.2em 1.2em 0.9em 1.2em;
    border-radius: 10px 10px 0 0;
    color:  rgb(33, 137, 175);
    transition: all .4s;
    position: relative;
    z-index: 1;
    
}
.nav ol li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    border-radius: 10px 10px 0 0;
    background: #853333;
    transform-origin: bottom;
    background: linear-gradient(to right, #fde65e, #fde55eda, #fde55e9e); 
    transform: scaleY(0.05);
    z-index: -1;
    transition: all .4s;
}
.nav ol li a:hover::before{
    transform: scaleY(1.1);
}
.nav ol li a:hover{
    color: white;
}

.btn{
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}
.btn::before{
    content: '\f0c9';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 2em;
}



@media (max-width: 1200px){
    .btn{
        display: flex;
        z-index: 100;
    }
    header{
        justify-content: space-between;
        padding: 0 2em;
    }
    .nav{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: #F8F8F8;
        transform: translateY(-110%);
        transition: all .4s;
    }
    input:checked ~ .nav{
        transform: translateY(0%);
    }
    input:checked::before{
        content: '\f00d';
    }
    .img-div{
        display: flex;
        z-index: 100;      
    }

    .Qform{
        justify-content: space-between;
        padding: 0 2em;
    }

    .Qbutton{
        display: flex;
        z-index: 100;
    }
}
@media (max-width: 700px){
    .nav ol{
        flex-direction: column;
        text-align: center;
    }
}