
    <footer>
        <div class="bar">
            <div class="col-md-3 progress" style="height: 7px;width: 32.5%; margin-right: 8px;">
                <div class="progress-bar bg-dark" role="progressbar"  style="width: 100%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="col-md-3 progress" style="height: 7px;width: 32.5%; margin-right: 8px;">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 100%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="col-md-3 progress" style="height: 7px;width: 33.5%;">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 100%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
        </div>
        
        <div class="footer">
            <button class="back" (click)="Back(back)">Back</button>
            <button class="next" (click)="Next(next)">Next</button>
        </div>
    </footer>
