<h1>SIGN UP</h1>
<form>
  <div class="container form-group">

    
    <div class="row">
        <div class="col-md-4"></div> 
        <div class="form-group col-md-2">
          <label for="inputname">First Name</label>
          <input  [(ngModel)]="signup.FirstName" type="text" class="form-control" id="inputname" placeholder="First name" name="first" ngModel #FirstName = "ngModel" required>
          <div *ngIf= "FirstName.touched && FirstName.invalid" class="alert alert-danger">
            Please Enter your First Name
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="inputnamel">Last Name</label>
          <input  [(ngModel)]="signup.LastName" type="text" class="form-control" id="inputnamel" placeholder="Last name" name="last" ngModel #LastName = "ngModel" required >
          <div *ngIf= "LastName.touched && LastName.invalid" class="alert alert-danger">
            Please Enter your Last Name
          </div> 
        </div>
    </div>


    <div class="row mt-1">
      <div class="col-md-4"></div> 
        <div class="form-group col-md-2 ">
            <label for="inputState">Gender</label>
            <select [(ngModel)]="signup.Gender" id="inputState" class="form-control" name="gendert">
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div class="form-group col-md-2 mt-1">
              <label for="inputnamed">Date Of Birth</label>
              <input [(ngModel)]="signup.DateOfBirth" type="date" class="form-control" id="inputnamed" name="dateofbirth" ngModel #DOB = "ngModel" required>
              <div *ngIf= "DOB.touched && DOB.invalid" class="alert alert-danger">
                Please Enter your Date Of Birth
              </div>
        </div>
      </div>
    


        <div class="row mt-1">
          <div class="col-md-4"></div>
        <div class="form-group col-md-4">
          
          <label for="inputZip">Image</label>
          <input type="File" class="form-control" id="inputZip" name="img" (change)="uploadPhoto($event)"/>
          <!-- <input type="file"  name="img" /> -->
          <!-- <input type="text" value = "{{imageUrl}}">  -->
          <input   [(ngModel)]="signup.ProfileImage" type="hidden" class="form-control" id="inputurl" value="{{imageUrl}}" name="url" ngModel #Url = "ngModel" required>
          <!-- <h2 [(ngModel)]="signup.ProfileImage" >{{imageUrl}}</h2> -->

          <!-- [(ngModel)]="signup.ProfileImage" -->
        </div>
      </div>

<!-- <script>
  let txtbox= document.getElementById("inputurl");
  txtbox.value = imageUrl;
</script> -->
    

      
    <div class="row mt-1">  
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="signup.Email" name="email" ngModel #email = "ngModel" required>
        <div *ngIf= "email.touched && email.invalid" class="alert alert-danger">
          Please Enter your email
        </div>
      </div>
    </div>

    <div class="row mt-1">  
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">UserName</label>
        <input type="text" class="form-control" id="inputUserName" placeholder="UserName" [(ngModel)]="signup.UserName" name="UserName" ngModel #username = "ngModel" required>
        <div *ngIf= "username.touched && username.invalid" class="alert alert-danger">
          Enter your username
        </div>
      </div>
    </div>

    <div class="row mt-1"> 
      <div class="col-md-4"></div>
      <div class="form-group col-md-4 mt-1 ">
        <label for="inputpassword4">Password</label>
        <input type="password" class="form-control " id="inputPassword4" placeholder="Password" [(ngModel)]="signup.password" name="Password" ngModel #password = "ngModel" required>
        <div *ngIf= "password.touched && password.invalid" class="alert alert-danger">
          Enter your Password
        </div>
      </div>
    </div>

    <div class="row mt-1"> 
      <div class="col-md-4"></div>
      <div class="form-group col-md-4 mt-1 ">
        <input class="form-check-input " type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck" >
          Agree with terms & conditions
        </label>
      </div>
    </div>

    <div class="form-group row mt-1"> 
      <div class="col-md-4"></div>
      <div class="form-group col-md-4 mt-2 ">
        <input type="submit" value="Sign Up"  class="form-control btn btn-primary " (click)="Add();" />
      </div>
    </div>
  </div>
  </form>

  <!-- <input type="file" (change)="uploadPhoto($event)"/> -->

  <app-footer></app-footer>