<div>
    <section class="banner">
        <div class="banner-text-item">
            <div class="banner-heading">
                <h1>Find your Next Destination!</h1>
            </div>
            <form class="form">
                <div class="row filterbtn">
                <button (click)="dialgsrv.showDialog=true" class="book"> 
                    <img id="filterimg" src="../../assets/filter.png">
                    <p >Filter</p>
                   </button>
                </div>   
            </form>
        </div>
    </section>
    </div>