<!-- https://stream.media.muscache.com/KeNKUpa01dRaT5g00SSBV95FqXYkqf01DJdzn01F1aT00vCI.mp4?v_q=high -->

<div class="container">
    <div class="columnLeft">
        <h4>Step 3</h4>
        <h1>Finish up and publish</h1>
        <p>Finally, you'll choose if you'd like to start with an experienced guest, then you'll set your nightly price. Answer a few quick questions and publish when you're ready. </p>
    </div>
    <div class="columnRight">
        <video src="https://stream.media.muscache.com/KeNKUpa01dRaT5g00SSBV95FqXYkqf01DJdzn01F1aT00vCI.mp4?v_q=high" autoplay="" crossorigin="anonymous" playsinline="" preload="auto" style="object-fit: cover;"></video>
    </div>
    
</div>
<app-footer next="/price" back="/description"></app-footer>

