<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <div class="nav-bar">
    <a *ngIf="!isLoggedIn">Login</a>
    <p *ngIf="isLoggedIn">Hello</p>
    <a *ngIf="isLoggedIn" routerLink="/secured/data">DATA</a>
    <button (click)="logOut()" *ngIf="isLoggedIn">LogOut</button>
</div> -->


<!-- <app-nav-bar></app-nav-bar> -->

<!-- <app-card></app-card> -->
<!-- <app-home-page></app-home-page> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
<!-- <app-login></app-login> -->


<!-- <app-admin-page></app-admin-page> -->

<!-- <app-profilebutton></app-profilebutton> -->
<!-- ////////////ANA W DOAA WITHOUT OMAR//////////// -->
<app-quest *ngIf="dialogService.showFiltrDialog" style="z-index: 1000;"></app-quest>
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>













