<!-- //https://stream.media.muscache.com/H0101WTUG2qWbyFhy02jlOggSkpsM9H02VOWN52g02oxhDVM.mp4?v_q=high -->
<div class="container">
    <div class="columnLeft">
        <h4>Step 2</h4>
        <h1>Make your place stand out</h1>
        <p>In this step, you'll add some of the amenities your place offers, plus 5 or more photos. Then, you'll create a title and description. </p>
    </div>
    <div class="columnRight">
        <video src="https://stream.media.muscache.com/H0101WTUG2qWbyFhy02jlOggSkpsM9H02VOWN52g02oxhDVM.mp4?v_q=high" autoplay="" crossorigin="anonymous" playsinline="" preload="auto" style="object-fit: cover;"></video>
    </div>
    
</div>
<app-footer next="/upload-photos" back="/counts"></app-footer>

