<div class="container">
    <div class="columnLeft">
        <h4>Step 1</h4>
        <h1>Tell us about your place</h1>
        <p>In this step, we'll ask you which type of property you have and if guests will book the entire place or just a room. Then let us know the location and how many guests can stay. </p>
    </div>
    <div class="columnRight">
        <video src="https://stream.media.muscache.com/zFaydEaihX6LP01x8TSCl76WHblb01Z01RrFELxyCXoNek.mp4?v_q=high" autoplay="" crossorigin="anonymous" playsinline="" preload="auto" style="object-fit: cover;"></video>
    </div>
    
</div>
<app-footer next="/place-type" back="/get-started"></app-footer>
